

{{froala-editor myProperty (action (mut myProperty)) (hash heightMin=300)}}

<br>
  {{!--{{myProperty}}--}}
<button type="button" class="btn btn-color" {{action 'toggleModal'}}>Save</button>
{{#if isShowingModal}}
        {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
                  <p>Your story get Submitted </p>
                      
                  <div class="modal-header">
                      <button type="button" class="close" {{action "submit"}}>ok</button>
                  </div>
          {{/modal-dialog}}
{{/if}}