{{outlet}}
{{partial 'header'}}
<div>
                <h4>About Fundraiser</h4>
    <p align="justify"> Dear All, I am home-maker and full-time mother from Vadodara (Gujarat) having 4-year-old Aryaman born with Down’s Syndrome (DS). A child with DS can have multiple defects starting from heart disease, hearing loss, vision problems, dental problems to multiple physical & mental disabilities and risks of developing major diseases such as leukaemia, Alzheimer’s disease etc. as they grow-up.</p>
  </div>       
{{partial 'footer'}}