<h2><b><a {{action 'goTo' 'animal-welfare'}}>Animal Welfare</a></b></h2>
        <ul>
    <li>Our vision is a world where animal welfare matters and animal cruelty has ended - together we can move the world for animals </li>
    </ul>
<br>

    <div class="row">
        <div class="col-md-4" {{action 'campaignDetails' 'assets/image/Dog.jpg' 'We wants to help 100 #PatriotDogs live a happy retired life' 'PatriotDogs' 'by Umashankar'}}>
            <div class="thumbnail">
                 <h3 align="center"> PatriotDogs </h3>
                    <img src="assets/image/Dog.jpg" alt="Lights" class="img-rounded">
                    <div class="caption">
                        <p>We wants to help 100 #PatriotDogs live a happy retired life<br><br><br></p>
                        <br>
                        <p align="right"> -Umashankar </p>
                    </div>
               </div>
        </div>
        <div class="col-md-4" {{action 'campaignDetails' 'assets/image/bird.jpg' 'The adoption centre is moving to a bigger space, with better facilities, so they can take care of even & save even more birds.' 'Help The CUPA' 'by Vikram'}}>
            <div class="thumbnail">
                 <h3 align="center"> Help The CUPA  </h3>
                    <img src="assets/image/bird.jpg" alt="Lights" class="img-rounded">
                    <div class="caption">
                        <p>The adoption centre is moving to a bigger space, with better facilities, so they can take care of even & save even more birds. </p>
                        <br>
                        <p align="right"> -Vikram </p>
                    </div>
               </div>
        </div>
        <div class="col-md-4" {{action 'campaignDetails' 'assets/image/rhino.jpg' 'Large parts of the Kaziranga National Park are completely underwater. Join me in raising funds to help the rhinos being treated by WTI.' 'The Rhinos Need Help' 'by MohanRaj PB'}}>
            <div class="thumbnail">
                 <h3 align="center"> The Rhinos Need help </h3>
                    <img src="assets/image/rhino.jpg" alt="Lights" class="img-rounded">
                    <div class="caption">
                        <p>Large parts of the Kaziranga National Park are completely underwater. Join me in raising funds to help the rhinos being treated by WTI.</p>
                        <br>
                        <p align="right"> -MohanRaj PB </p>
                    </div>
               </div>
        </div>
    </div>
