<h2><b><a {{action 'goTo' 'dance'}}>Dance </a></b></h2>
<ul>
    <li>Dance is a performance art form consisting of purposefully selected sequences of human movement.</li>
    <li>Dance can be categorized and described by its choreography, by its repertoire of movements, or by its historical period or place of origin.</li>
</ul>
<br>
<div class="row">
    <div class="col-md-4" {{action 'campaignDetails' 'assets/image/dance1.jpg' 'Rajasthani Gypsy dancers from the mighty Thar Desert travel Europe in a caravan to meet their long lost cousins - The Romani, Gypsys of Europe.' 'My Gypsy Wish' 'by Deepak'}}>
        <div class="thumbnail">
            <h3 align="center"> My Gypsy Wish</h3>
            <img src="assets/image/dance1.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Gypsy dancers from the mighty Thar Desert travel Europe in a caravan to meet their long lost cousins - The Romani, Gypsys of Europe.</p>
                <br>
                <p align="right"> -Deepak </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" {{action 'campaignDetails' 'assets/image/dance2.jpg' 'We are fundraising for the training and costume costs of Bailey’s Dance program' 'Bailey’s Dance Fund' 'by Diwan'}}>
        <div class="thumbnail">
            <h3 align="center"> Bailey’s Dance Fund </h3>
            <img src="assets/image/dance2.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>We are fundraising for the training and costume costs of Bailey’s Dance program. <br> <br></p>
                <br>
                <p align="right"> -Diwan </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" {{action 'campaignDetails' 'assets/image/dance3.jpg' 'Dance & Fitness go hand in hand, Need place to teach you 6 dance forms while you burn calories, via a Dance & Fitness DVD' 'Spin Be Fit ' 'by Kavi'}}>
        <div class="thumbnail">
            <h3 align="center"> Spin Be Fit </h3>
            <img src="assets/image/dance3.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Dance & Fitness go hand in hand, Need place to teach you 6 dance forms while you burn calories, via a Dance & Fitness DVD</p>
                <br>
                <p align="right"> -Kavi </p>
            </div>
        </div>
    </div>
</div>