<h2><b> <a {{action 'goTo' 'environment'}}> Enviorment</a></b></h2>
<ul>
    <li>Pooling in small amount of funds from a large number of people online for environmentally-conscious businesses, nonprofits, and individuals working for projects that protect and sustain the planet</li>
    <li>Using the power of Internet to educate the world about global warming, clean-tech and make them environmentally-conscious. </li>
</ul>
<br>

<div class="row">
    <div class="row-height">
        <div class="col-md-4" {{action 'campaignDetails' 'assets/image/env1.jpg' 'Funds for organizing movements to rejuvenate rivers by striving to free them from encroachments & contribute non-polluted green environment.' 'Hamari Ganga ' 'by Ajay'}}>
            <div class="thumbnail">
                <h3 align="center"> Hamari Ganga </h3>
                <img src="assets/image/env1.jpg" alt="Lights" class="img-rounded">
                <div class="caption">
                    <p>Funds for organizing movements to rejuvenate rivers by striving to free them from encroachments & contribute non-polluted green environment.</p>
                    <br>
                    <p align="right"> -Ajay </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" {{action 'campaignDetails' 'assets/image/env2.jpg' 'Patna is 6th most polluted city in the world. We the youth of Patna wish to plant more trees in few months with your help' 'Environmental Impact' 'by Suhas Patil'}}>
            <div class="thumbnail">
                <h3 align="center"> Environmental Impact </h3>
                <img src="assets/image/env2.jpg" alt="Lights" class="img-rounded">
                <div class="caption">
                    <p>Patna is 6th most polluted city in the world. We the youth of Patna wish to plant more trees in few months <br><br> </p>
                    <br>
                    <p align="right"> -Suhas Patil </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" {{action 'campaignDetails' 'assets/image/env3.jpg' 'Plant tree and save the world from global warming' 'Plant Tree' 'by Nikhil Gupta'}}>
            <div class="thumbnail">
                <h3 align="center"> Plant Tree </h3>
                <img src="assets/image/env3.jpg" alt="Lights" class="img-rounded">
                <div class="caption">
                    <p>Plant tree and save the world from global warming <br> <br> <br></p>
                    <br>
                    <p align="right"> -Nikhil Gupta </p>
                </div>
            </div>
        </div>
    </div>
</div>