<script>
$(document).ready(function(){
   $("#myQesn1").click(function(){
        $("#myans").toggle();
    });
    $("#myQesn2").click(function(){
        $("#myans2").toggle();
   
    });
});
</script>

<br/>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-12">
            <h3>FAQ's </h3>
        </div>
    </div>
</div>
<br/>
<!--<div class="container-fluid text-center">
        <div class="col-sm-12">
             <h4>Q.Why should I join RapidQuestCrwdfunding? </h4>
             <p>On BitGiving, you can –
	         <ul style="list-style-type:square">
                <li>You can Start a Campaign and raise funds for your passion project!</li>
                <li>Support an ongoing campaign by either contributing or spreading word about the campaign.</li>
            </ul> 
             </p>
        </div>
    </div>
</div>
</div>-->

<div class="container-center">
    <div class="bs-example"> 
    <div class="col-sm-4">
        <div class="thumbnail">
          </div>   
    </div>  
    <div div class="col-sm-8">
      <div class="row">
        <div class="span4 collapse-group">
            <p><a class="btn" data-toggle="collapse" data-target="#qes1">Q.What is 'Crowdfunding name'? &raquo;</a></p>
            <p class="collapse" id="qes1">Crowdfunding name is an Online crowdfunding platform  to raise funds for Educationl,Childern,Dance,Film,Environmental purpose,organizations and NGO's can come together, tell their stories and raise funds from the crowd.  </p>
         </div>
      </div>
       <div class="row">
        <div class="span4 collapse-group">
            <p><a class="btn" data-toggle="collapse" data-target="#qes2">Q.What is Crowdfunding? &raquo;</a></p>
            <p class="collapse" id="qes2">Crowdfunding is asking a crowd of people to donate a defined amount of money for a specific cause or project in exchange for various rewards. </p>
        </div>
      </div>
      <div class="row">
        <div class="span4 collapse-group">
            <p><a class="btn" data-toggle="collapse" data-target="#qes3">Q.Why should I join RapidQuestCrwdfunding? &raquo;</a></p>
            <p class="collapse" id="qes3">  On RapidQuestCrowdfunding, you can –
	            <ul style="list-style-type:square">
                    <li>You can Start a Campaign and raise funds for your passion project!</li>
                    <li>Support an ongoing campaign by either contributing or spreading word about the campaign.</li>
                </ul>  </p>
        </div>
      </div>
    <div class="row">
        <div class="span4 collapse-group">
            <p><a class="btn" data-toggle="collapse" data-target="#qes4">Q.I forgot my password, how do I log in? &raquo;</a></p>
            <p class="collapse" id="qes4">You can reset your password by clicking on Forgot password on the login screen.  </p>
        </div>
    </div>
    <div class="row">
        <div class="span4 collapse-group">
            <p><a class="btn" data-toggle="collapse" data-target="#qes5">Q.What's a crowdfunding fundraiser? &raquo;</a></p>
            <p class="collapse" id="qes5">It is an process performed on RapidQuestCrowdfunding by an individual or a group of individuals to raise funds for a purpose/cause. It acts as a platform to invite contributors from all across the globe to stand in agreements for a cause that requires financial support.   </p>
        </div>
     </div>
     <div class="row">
        <div class="span4 collapse-group">
            <p><a class="btn" data-toggle="collapse" data-target="#qes6">Q.How does it work on RapidquestCrowdfunding? &raquo;</a></p>
            <p class="collapse" id="qes6">You are required to sign up on www.rapidqubecrowdfunding.com, start a fundraising page, invite your friends and family to contribute towards your cause, ask them to spread the word by sharing it on Facebook, Twitter, LinkedIn reach your goal amount and collect the funds from us once the fundraiser ends.  </p>
        </div>
      </div>
      
</div>
       
</div>    
<!-- Container -->
</div>-->