<h2><b><a {{action 'goTo' 'film'}}>Film </a></b></h2>
<ul>
    <li>A film is arguably the most influential form of storytelling. But making a film comes with a budget and for filmmakers who may be relatively new to the industry, the chances of finding a sponsor for their short film project are slim to none.</li>
</ul>

<br>
<div class="row">
    <div class="col-md-4" style="min-height:460px"{{action 'campaignDetails' 'assets/image/film1.jpg' '50 Grams is a short documentary detailing the life of a 6-year-old child. His dream is to become a doctor someday. His reality though, is different.' '50 Grams' 'by Ramakrishna'}}>
        <div class="thumbnail">
            <h3 align="center"> 50 Grams </h3>
            <img src="assets/image/film1.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>50 Grams is a short documentary detailing the life of a 6-year-old child. His dream is to become a photographer someday. His reality though, is different.</p>
                <br>
                <p align="right"> -Ramakrishna </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="min-height:460px" {{action 'campaignDetails' 'assets/image/film2.jpg' 'KASHISH is about woman wid special power who will save the world.' 'KASHISH - Diverse, One' 'by Raghunadh'}}>
        <div class="thumbnail">
            <h3 align="center"> KASHISH - Diverse, One </h3>
            <img src="assets/image/film2.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>KASHISH is about woman wid special power who will save the world. <br><br><br> </p>
                <br>
                <p align="right"> -Raghunadh </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="min-height:460px" {{action 'campaignDetails' 'assets/image/film3.jpg' 'Avarice is a philosophical thriller based on Alan Watts idea of "What if money is not an object". Its a multilingual short film in Kannada, English & Hindi.' 'Avarice - A short film' 'by Lokesh Reddi'}}>
        <div class="thumbnail">
            <h3 align="center"> Avarice - A short film </h3>
            <img src="assets/image/film3.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Avarice is a philosophical thriller based on Alan Watts' idea of "What if money is not an object". It's a multilingual short film in Kannada, English & Hindi.<br>   </p>
                <br>
                <p align="right"> -Lokesh Reddi </p>
            </div>
        </div>
    </div>
</div>