<ul class="nav nav-tabs">
    <li>
         {{#link-to 'fund-raiser.list-approve-bids'}} Bids {{/link-to}}
        <!--<a href="#bids" data-toggle="pill">
        {{#link-to 'fund-raiser.list-approve-bids'}} Bids {{/link-to}}
        </a> -->
    </li>
    <li>
        {{#link-to 'fund-raiser.status-of-fund-transfer'}}Report {{/link-to}}
        <!--<a href="#report" data-toggle="pill"> 
            {{#link-to 'fund-raiser.status-of-fund-transfer'}}Report {{/link-to}}
        </a>--> 
    </li>
   <!--<li>
        {{#link-to 'fund-raiser.dashboard'}} Dashboard {{/link-to}}
       <a href="#dashboard" data-toggle="pill"> 
          {{#link-to 'fund-raiser.dashboard'}} Dashboard {{/link-to}}
        </a>
    </li>-->
</ul>

{{outlet}}